.income-container {
    display: flex;
    justify-content: space-between;
    width: 500px;
    flex-direction: row;
  }
  
  .second-row {
    display: flex;
    justify-content: space-between; /* Horizontally align the second-row items */
    width: 100%; /* Add this to ensure the second-row items fill the entire container width */
  }
  .first-row{
    width:170px;
  }
  
  .item {
    flex: 1; /* Add this to make the items equally distributed horizontally */
    margin: 0 5px; /* Add a small margin between the items for equal distance */
  }

  @media (max-width: 760px) {
    .main-container {
      flex-direction: column; /* Items stack vertically */
      width:100%;
    }

    .item {
      flex-basis: 100%; /* Each div takes the full width in a new row */
      width:50%;
    }

    .second-row {
      display: flex;
      justify-content: space-between; /* Horizontally align the second-row items */
      width:100%
    }
  }