body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
.main-container{
  display:flex;
  flex-wrap: wrap;
}

.mid-container {
  width: 30%;
  max-width: 500px;
  padding:3%
  /* margin: 0 auto; */
}

header {
  background-color: #000;
  color: #fff;
  padding: 20px;
}

h1 {
  font-size: 24px;
}

section {
  padding: 20px;
}

footer {
  background-color: #f0f0f0;
  padding: 20px;
}

p {
  margin-bottom: 10px;
}

.graph {
  width: 100%;
  height: 200px;
}


.transaction {
  margin-bottom: 15px;
}

.profile-container {
  width: 30%;
  padding:3%;
  margin-left :70px
}



.date {
  font-size: 12px;
  color: #888;
}


.strategy-container {
  width: 30%;
  padding:3%
}


form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}
input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}




/* Media query for screens with a width of 500 pixels or less */
/* Existing styles for .sidenav and other elements */

/* Media query for screens with a width of 500 pixels or less */

.flex-wrapper {
display: flex;
flex-flow: row nowrap;
width:300px
}

.single-chart {
width: 33%;
justify-content: space-around ;
}

.circular-chart {
display: block;
margin: 10px auto;
max-width: 80%;
max-height: 250px;
}

.circle-bg {
fill: none;
stroke: #eee;
stroke-width: 3.8;
}

.circle {
fill: none;
stroke-width: 2.8;
stroke-linecap: round;
animation: progress 1s ease-out forwards;
}

@keyframes progress {
0% {
  stroke-dasharray: 0 100;
}
}

.circular-chart.orange .circle {
stroke: #ff9f00;
}

.circular-chart.green .circle {
stroke: #4CC790;
}

.circular-chart.blue .circle {
stroke: #3c9ee5;
}

.percentage {
fill: #666;
font-family: sans-serif;
font-size: 0.5em;
}


.sidenav {
  height: 100%;
  width: 70px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Styles for links inside the sidebar (top links) */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* Styles for the bottom links */
.sidenav .bottom-links {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-bottom: 15%
}

.sidenav .bottom-links a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* Styles for the links when hovered */
.sidenav a:hover {
  color: #f1f1f1;
}
.footer{
  display:none
}


.income-container {
  display: flex;
  justify-content: space-between;
  width: 500px;
  flex-direction: row;
}

.second-row {
  display: flex;
  justify-content: space-between; /* Horizontally align the second-row items */
  width: 100%; /* Add this to ensure the second-row items fill the entire container width */
}
.first-row{
  width:220px;
}

.item {
  flex: 1; /* Add this to make the items equally distributed horizontally */
  margin: 0 5px; /* Add a small margin between the items for equal distance */
}


/* Media query for screens with a width of 760 pixels or less */
@media screen and (max-width: 760px) {

.sidenav {
  display: none; /* Hide the side navbar for smaller screens */
}
.content{
  display:flex;

}

  .main-container {
      flex-direction: column;
  }
 
    .profile{
      justify-content:center;
    }
    .strategy-container {
      width: 100%;
      padding:3%
    }

.income-container {
  flex-direction: column; /* Items stack vertically */
  width:100%;
}

.item {
  flex-basis: 100%; /* Each div takes the full width in a new row */
  width:50%;
}

.second-row {
  display: flex;
  justify-content: space-between; /* Horizontally align the second-row items */
  width:100%
}

  .sidenav {
    display: none; /* Hide the side navbar for smaller screens */
  }

  /* New styles for the footer */
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #111;
    display: flex; /* Use flexbox to arrange content horizontally */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
  }

  .footer a {
    padding: 6px 8px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    margin: 0 5px; /* Add spacing between links */
  }
}

@media screen and (min-width: 760px) {
  .unvisible {
    display: none;
  }
}
@media (max-width: 760px) {
  .hide {
      display: none; /* This will hide the element when the screen size is less than 760px */
  }
}

