.goal-container {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.column {
  flex-basis: 33.33%; /* Equal width for each column (3 columns) */
  
}

.small-font {
  font-size: 12px;
}
